.tooltip {
  position: relative;
}
.tooltip .tooltipText {
  position: absolute;
  top: -40px;
  white-space: nowrap;
  color: white;
  background-color: #3f51b5;
  font-family: "Manrope";
  z-index: 100;
  padding: 5px;
  border-radius: 0.4rem;
  opacity: 0;
  pointer-events: none;

  transition: all 0.1s ease-in-out;
}
.tooltip .tooltipText-delete {
  background-color: #f50057;
}
.tooltip:hover .tooltipText {
  opacity: 1;
  transition-duration: 1s;
}
#likes::after {
  content: "";
  border-top: 5px solid #3f51b5;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  position: absolute;
  top: 32px;
  left: 10px;
}

#delete::after {
  content: "";
  border-top: 5px solid #f50057;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  position: absolute;
  top: 33px;
  left: 50%;
  transform: translateX(-50%);
}
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  border: 1px solid blue;
}
